@import "tailwindcss";
@config "../tailwind.config.js"; 

@layer base {
  :root {
    /* MODO LIGHT */
    --color-primary: #6281b7;
    --color-secondary: #564d98;
    --color-accent: #a3d4ec;
    --color-background: #f8fafc;
    --color-surface: #ffffff;
    --color-foreground: #0f1021; 
  }

  .dark {
    /* MODO DARK */
    --color-primary: #564d98;
    --color-secondary: #6281b7;
    --color-accent: #a3d4ec;
    --color-background: #0f1021;
    --color-surface: #272856;
    --color-foreground: #f8fafc; 
  }
}